/* Global */
body {
    padding-top: 15px;
    padding-bottom:30px;

}

div .category-title {
    font-size:24px;
    color: #08629d;
    padding-top:20px;
}

/* Mobile */
@media screen and (max-width: 767px) {
    .category-title {
        font-size: 1.4em;
        text-align: right;
    }
}
