/* Global */
body {
    padding-top: 15px;
    padding-bottom:30px;

}

.category-title {
    padding-top: 20px;
    font-size:24px;
    color: #08629d;
}
.no-top-pad {
    padding-top: 0px !important;
}
/* Mobile */
@media screen and (max-width: 767px) {
    .category-title {
        font-size: 1.4em;
    }
}
